/* Pagination */
.containerPagination{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:20%;
    padding:1px;
}
@media (max-width:768px) {
    .containerPagination{
        height:35px;
    }
}

@media (max-width:480px) {
    .containerPagination{
        height:30px;
    }
}

.containerPagination img{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width:35px;
    height:35px;
    border-radius: 50%;
}
@media (max-width: 1024px) {
    .containerPagination img{
        width:35px;
    }
}
@media (max-width: 768px) {
    .containerPagination img{
        width:35px;
    }
}
@media (max-width: 480px) {
    .containerPagination img{
        width:30px;
    }
}