.containerRedeem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
}
@media (max-width:1024px) {
    .containerRedeem{
        width: 85%;
    }
}
@media (max-width:768px) {
    .containerRedeem{
        width: 100%;
    }
}
.containerRedeem h1{
    margin: 0;
    margin-top: 50px;
    margin-bottom: 10px;
}
.contentRedeem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contentRedeem ul{
    width: 100%;
    height: auto;
    margin: 0;
    padding-left: 0;
    padding: 10px;
}
.contentRedeem ul li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    border: 2px solid var(--lines);
    border-radius: 10px;
    margin: 20px 0;
    height: auto;
    box-shadow: -2px 5px 5px 0px rgba(146,140,140,0.75);
    -webkit-box-shadow: -2px 5px 5px 0px rgba(146,140,140,0.75);
    -moz-box-shadow: -2px 5px 5px 0px rgba(146,140,140,0.75);
}
@media (max-width:480) {
    .contentRedeem ul li{
        width: 100%;
    }
}
.containerImage{
    width: auto;
    height: auto;
}
.containerImage img{
    width: 150px;
    height: auto;
}
.contentRedeem .containerInfoProduct{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}
@media (max-width:480px) {
    .contentRedeem .containerInfoProduct{
        flex-direction: column;
        justify-content: space-evenly;
        height: 100px;
    }
}
.contentRedeem .containerInfoProduct .containerNameProduct{
    text-align: center;
    width: 100%;
}
.contentRedeem .containerInfoProduct .containerNameProduct span{
    height: 1000px;
}
.contentRedeem .containerInfoProduct .containerCostProduct{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentRedeem .containerCostProduct img{
    width: 20px;
    height: 20px;
}

